body {
    display: block;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}



/* Your Projects */

#your-projects {
    display: flex;
    flex-direction: column;
    background-color: #311568;
    height: auto;
    width: 20rem;
    color: #fff;
    justify-content: space-between;
}

#project-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: auto;
    background-color: red;
}

.titleP {
    margin-left: 20px;
}

.removePIcon {
    height: 15px;
    width: 15px;
    background-color: yellow;
    margin-right: 20px;
}

.statusP {
    height: 15px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
}




/* Task Container */

.taskCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    width: 300px;
    height: 300px;
}

#titleInput {
    height: 20px;
    width: 250px;
    margin-bottom: 100px;
}

.taskDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11rem;
    align-items: center;
    width: calc(100vw - 20rem);
    height: 30px;
    background-color: #edff94;
}


/* Coating for popup and popup */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* becomes above everything */
}

.popupDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 300px;
    height: 300px;
    background-color: #fff;
}