body {
    display: block;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}





/* Your Projects */

#your-projects {
    display: flex;
    flex-direction: column;
    background-color: #311568;
    height: auto;
    width: 20rem;
}

.projectDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: auto;
    background-color: red;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.titleP {
    margin-left: 20px;
}

.removePIcon {
    height: 15px;
    width: 15px;
    background-color: yellow;
    margin-right: 20px;
}

.statusP {
    height: 15px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
}




/* Your Tasks */

#your-tasks {
    display: flex;
    flex-direction: column;
    background-color: #816ea5;
    height: auto;
    width: 20rem;
}

.taskDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: auto;
    background-color: rgb(165, 166, 116);
    border-bottom: 1px solid #fff;
}

.titleT {
    height: 15px;
    width: 15px;
    background-color: rgb(65, 255, 138);
    margin-right: 20px;
}

.removeTIcon {
    height: 15px;
    width: 15px;
    background-color: rgb(70, 25, 25);
    margin-right: 20px;
}

.statusT {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}


/* Task Container */





/* Popup for project */
.popupDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 300px;
    height: 300px;
    background-color: #411616b1;
}

#titleInput {
    height: 20px;
    width: 250px;
    margin-bottom: 100px;
}